.candidate-profile
	position: relative
	margin: auto
	background-image: url('http://i.stack.imgur.com/Dj7eP.jpg')
	width: 150px
	height: 150px
	background-size: cover
	background-position: center
	border-radius: 50%

.candidate-profile-row
	padding: 20px 0px 20px 0px

.party-image
	position: absolute
	bottom: -10px
	right: 0px
	width: 50px
	height: 50px
	background-size: 70px 70px
	background-position: center
	border-radius: 50%

.pri-image
	background-image: url('http://pri.org.mx/SomosPRI/img/logo/_logopriPNG.png')

.poll-block
	padding: 5px
	background: white

// .profile-circle
//   height: 40px
//   width: 40px
//   margin-right: 5px
//   margin-top: 10px
//   border-radius: 50%
//   background-color: #6fa6cc
//   color: #f2f2f2
//   font-size: 16px
//   text-align: center
//   line-height: 41px