.table-header
  text-align: right
  padding: 10px 0

.table-searchbar
  font-size: 15px
  background: white
  padding: 2px 0px
  color: $darkerblue
  border-radius: 6px
  input
    border-radius: 5px
    border: 2px solid $darkerblue
    &:focus
      outline: none
      border: 2px solid $darkerblue
  .ember-power-select-placeholder
    text-align: left
  .ember-basic-dropdown
    padding: 5px
    border: 2px solid gray
    border-radius: 6px
  .ember-basic-dropdown-content
    margin-top: 6px

.voters-table-links
  float: left
  margin-right: 20px;
  font-size: 17px;

.file-uploader-contanier
  text-align: center
  .file-uploader
    height: 30vh
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex
    flex-direction: column
    justify-content: center
    // background-color: #fefefe