.map-background
  fill: none
  pointer-events: all

// .feature 
//   fill: #424a5d
//   opacity: .3
//   cursor: pointer
//   stroke-linejoin: round
//   &:hover
//     opacity: .6

// .feature.active
//   fill: #6fa6cc
//   opacity: .5

.section
  opacity: .6
  stroke: transparent
  stroke-opacity: 0.3
  stroke-linejoin: round
  &:hover
    stroke: white !important
    stroke-opacity: 1

.feature
  fill: transparent
  stroke: #a2a5a7
  stroke-linejoin: round
  &:hover
    fill: #a2a5a7
    stroke: white
    opacity: .2


.municipality 
  fill: #009688
  opacity: 0
  cursor: pointer
  &:hover
    opacity: .4

.municipality.active
  fill: #009688
  opacity: .6

.mesh
  fill: none
  opacity: 1
  stroke: #a2a5a7
  stroke-linecap: round
  stroke-linejoin: round

// Map
#map-world
  height: 700px
  width: 700px

#map
  height: 100%
  width: 100%
  position: fixed
  padding-left: 225px
  padding-top: 60px

.svg-map
  position: absolute

#tiles
  height: 100%
  width: 100%
  position: fixed
  padding-left: 225px

.country
  fill-opacity: 1
  fill: #4682B4
  stroke-opacity: 1
  stroke: black
  stroke-width: 2px

.states :hover
  fill: red

.state-borders
  fill: none
  stroke: #fff
  stroke-width: 0.5px
  stroke-linejoin: round
  stroke-linecap: round
  pointer-events: none

#tooltip-map
  color: black
  position: absolute
  padding: 2px 8px
  z-index: 99999
  font-size: 12px
  border: solid 1px #ccc
  background: white
  box-shadow: 0 0 8px rgba(0,0,0,.2)
  display: none
  pointer-events: none
  width: 160px
  margin-top: -70px

.tooltip-row
  margin: 4px 0

.tooltip-color-box
  width: 9px
  height: 9px
  margin: 2px 8px 0 0
  float: left
  background: grey
  display: block

.tooltip-votes
  margin-left: 20px

.tooltip-votes-pan
  margin-left: 16px

.tooltip-percent
  float: right

.tooltip-party
  width: 10px

.pan
  background-color: #446093

.pri
  background-color: #ce3a3a

.population-100
  background-color: rgb(127, 0, 0)

.population-75
  background-color: rgb(239, 101, 72)

.population-50
  background-color: rgb(252, 141, 89)

.population-25
  background-color: rgb(254, 232, 200)
  
.otros
  background-color: #647329

////////////////////////////

.map-key
  position: absolute
  top: 110px
  left: 265px
  font-size: 11px
  color: #666
  width: 230px
  height: 100px
  z-index: 5

.key-row-header
  position: relative

.key-row
  overflow: hidden
  padding: 3px 0
  width: 230px

.key-row-label
  width: 45%
  float: right

.key-right-label
  font-weight: bold
  float: right
  padding: 5px
  width: 65px
  margin-right: 75px

.key-left-label
  font-weight: bold
  padding: 5px
  width: 10px
  float: left

.colors-row
  width: 50%
  float: left

.color-box
  width: 25%
  height: 12px
  float: left
  
.small-vertical-line
  position: absolute
  height: 6px
  border-left: solid 1px #666
  bottom: -43px

.vertical-line-right-pos
  left: 101px

.vertical-line-left-pos
  left: 15px

.sidebar-text-title
  margin-top: 50px
  text-align: center

.sidebar-text-left
  padding: 10px
  float: left
  cursor: pointer

.sidebar-text-right
  padding: 10px
  float: right
  cursor: pointer

.sidebar-selected
  font-weight: bold
  color: #424a5d
