// CUSTOM BOOTSTRAP

  // Links

a
  color: $aqua
  &:hover
    @extend a
    color: $lightcloud
  &:active
    color: $cloud
  &:focus
    color: $cloud

  // Columns

.col-centered
  float: none
  margin-right: auto
  margin-left: auto

// MAP

.card
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  background: white
  
.map-background
  fill: none
  pointer-events: all

.section
  opacity: .6
  stroke: transparent
  stroke-opacity: 0.3
  stroke-linejoin: round
  &:hover
    stroke: white !important
    stroke-opacity: 1

.feature
  fill: transparent
  stroke: #a2a5a7
  stroke-linejoin: round
  &:hover
    fill: #a2a5a7
    stroke: white
    opacity: .2

.municipality 
  fill: #009688
  opacity: 0
  cursor: pointer
  &:hover
    opacity: .4

.municipality.active
  fill: #009688
  opacity: .6

.mesh
  fill: none
  opacity: 1
  stroke: #a2a5a7
  stroke-linecap: round
  stroke-linejoin: round

#map-world
  height: 700px
  width: 700px

#map
  height: 100%
  width: 100%
  position: fixed
  padding-left: 225px
  padding-top: 60px

.svg-map
  position: absolute

#tiles
  height: 100%
  width: 100%
  position: fixed
  padding-left: 225px

.country
  fill-opacity: 1
  fill: #4682B4
  stroke-opacity: 1
  stroke: black
  stroke-width: 2px

.states :hover
  fill: red

.state-borders
  fill: none
  stroke: #fff
  stroke-width: 0.5px
  stroke-linejoin: round
  stroke-linecap: round
  pointer-events: none

// TOOLTIPS

#tooltip-map
  color: black
  position: absolute
  padding: 2px 8px
  z-index: 99999
  font-size: 12px
  border: solid 1px #ccc
  background: white
  box-shadow: 0 0 8px rgba(0,0,0,.2)
  display: none
  pointer-events: none
  width: 250px
  margin-top: -70px

.tooltip-header
  text-align: left
  font-weight: 600
  font-size: 15px

.tooltip-row
  margin: 4px 0

.tooltip-color-box
  width: 9px
  height: 9px
  margin: 2px 8px 0 0
  float: left
  background: grey
  display: block

.tooltip-votes
  margin-left: 20px

.tooltip-votes-pan
  margin-left: 16px

.tooltip-percent
  float: right

.tooltip-party
  width: 10px

.tooltip-pct
  color: black
  font-weight: 600

// VOTER TABLE

.voter-table
  tr
    td
      padding: 5px !important

.voter-table-header
  padding: 0
  font-weight: 900
  margin-bottom: 45px

.voter-table-title
  margin-top: 0px
  margin-bottom: 40px
  text-align: center
  font-size: 35px

.voter-table-content

  // HORIZONTAL SCROLLING
.scrolling 
  th
    position: absolute
    left: 0

.outer
  position: relative
  width: 100%

.inner
  overflow-x: auto
  overflow-y: scroll visible
  width: 100%

// BUTTONS 

.btn-success
  background: $aqua
  border: 2px solid $aqua
  border-radius: 4px
  color: $white
  margin: 5px 0
  &:hover
    border: 2px solid $lightcloud
    color: $white
    background: $lightcloud
  &:active
    box-shadow: none
    border: 2px solid $cloud
    background: $cloud
  &:active:hover
    border: 2px solid $cloud
    background: $cloud
    color: $white
  &:active:focus
    border: 2px solid $cloud
    background: $white
    color: $cloud
    outline: none
  &:active:focus:hover
    color: $white
  &:focus
    border: 2px solid $cloud
    background: $cloud
    outline: none
    color: $white
  &:focus:hover
    border: 2px solid $cloud
    background: $cloud
    outline: none

// SWITCHER BAR

.switcher-bar-first
  width: 65%
  height: 15px
  background: linear-gradient(to right, #179ee0 0%,#179ee0 100%)

.switcher-bar-sec
  position: absolute
  top: 59px
  right: 5px
  width: 34%
  height: 15px
  background: repeating-linear-gradient(45deg, #179ee0, #179ee0 5px, #dee4e6 5px, #cdd1d4 10px)

.pct-bar
  width: 100%
  height: 15px
  background: black

.pct-bar-labels
  p
    display: inline
    font-weight: 600
    color: #797979

.small-text
  font-size: 11px
  color: #797979
  float: right

.pan
  background: #377eb8

.pri
  background: #b71c1c

.prd
  background: #ffff33

.morena
  background: #ff7f00

.population-100
  background: rgb(127, 0, 0)

.population-75
  background: rgb(239, 101, 72)

.population-50
  background: rgb(252, 141, 89)

.population-25
  background: rgb(254, 232, 200)
  
.otros
  background: #647329

// MAP KEY

.map-key
  text-transform: capitalize
  position: absolute
  top: 100px
  left: 265px
  font-size: 11px
  color: #666
  z-index: 5
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  padding: 10px 0px 10px 10px
  background: white

.key-row-header
  position: relative

.key-row
  overflow: hidden
  padding: 3px 0
  width: 200px

.key-row-label
  width: 30%
  float: right

.key-right-label
  font-weight: bold
  float: right
  padding: 5px
  width: 65px
  margin-right: 35px

.key-left-label
  font-weight: bold
  padding: 5px
  width: 10px
  float: left

.colors-row
  width: 65%
  float: left

.color-box
  width: 25%
  height: 12px
  float: left
  
.small-vertical-line
  position: absolute
  height: 6px
  border-left: solid 1px #666
  bottom: -43px

.vertical-line-right-pos
  left: 113px

.vertical-line-left-pos
  left: 15px

// SIDEBAR

.sidebar-text-title
  color: $darkblue
  font-family: 'Open Sans'
  font-size: 14px
  font-weight: 600
  text-align: left
  margin-bottom: 5px !important
  text-transform: none

.sidebar-text
  font-size: 10px !important
  padding: 8px
  float: left
  cursor: pointer
  text-transform: uppercase
  border-radius: 4px

.sidebar-text-left
  @extend .sidebar-text

.sidebar-text-left
  &:hover
    @extend .sidebar-text-left
    color: $white
    background: $lightcloud
  &:active:hover
    color: $white
    background: $cloud
  &:active:focus
    color: $cloud
    background: $white
  &:active:focus:hover
    color: $white
  &:focus
    color: $white
    background: $cloud
  &:focus:hover
    background: $cloud

.sidebar-text-right
  @extend .sidebar-text
  float: right

.sidebar-text-right
  &:hover
    @extend .sidebar-text-right
    color: $white
    background: $lightcloud
  &:active:hover
    color: $white
    background: $cloud
  &:active:focus
    color: $cloud
    background: $white
  &:active:focus:hover
    color: $white
  &:focus
    color: $white
    background: $cloud
  &:focus:hover
    background: $cloud

.sidebar-selected
  background: $aqua
  border-radius: 4px
  color: $white

.sidebar-selected
    &:hover
      @extend .sidebar-selected

.sidebar-buttons-box
  height: 72px
  margin-bottom: 20px

.sidebar-projections
  margin-bottom: 20px

// TIMELINE

.sidebar-timeline
  padding-left: 25px

.selected-timeline-item
  color: #6fa6cc !important

.timeline-item 
  padding: 1em 2em 2em
  position: relative
  color: rgba(black, .7)
  border-left: 2px solid rgba(black, .3)
  
  p 
    font-size: 1rem;
  
  &::before 
    content: attr(date-is)
    position: absolute
    left: 2em
    font-weight: bold
    top: 1em
    display: block
    font-family: 'Roboto', sans-serif
    font-weight: 700
    font-size: 1.2rem
  
  &::after 
    width: 10px
    height: 10px
    display: block
    top: 1em
    position: absolute
    left: -6px
    border-radius: 10px
    content: ''
    border: 2px solid rgba(black, .3)
    background: white

  &:last-child 
    border-image: linear-gradient(to bottom,rgba(black, .3) 60%, rgba(rgba(black, .3), 0)) 1 100%