// Sidebar
$sidebar-width: 60px
$sidebar-icon-size: 18px

// Alerts
$alertlightgreen: #43AC6A
$alertdarkgreen: #3a945b
$alertlightblue: #a0d3e8
$alertdarkblue: #74bfdd
$alertdarkred: #de2d0f
$alertlightred: #f04124

// Primary Palette
$white: #fbfbfb
$black: #2c2d30
$aqua: #55cec5

// Blue
$lightblue: #6fa6cc
$blue: #399ed9
$mediumblue: #4d5b6a
$darkblue: #2f3e4e
$darkerblue: #192029

// Gray
$lightergray: #f9f9f9
$lightgray: #e8e8e8
$mediumgray: #717274
$gray: #d5d5d6
$darkgray: #4c4d50

// Red
$red: #c96269
$darkred: #a65858

// Cloud
$cloud: #92c3d6
$lightcloud: #c6dfe9