<h3>Section</h3>
<p {{action 'transitionToSection'}}>Transition 1</p>

{{#link-to "polls.sections" 1 }} transition {{/link-to}}
{{#link-to "polls.sections" 2 }} transition {{/link-to}}
{{#link-to "polls.sections" 3 }} transition {{/link-to}}
{{#link-to "polls.sections" 4 }} transition {{/link-to}}
{{#link-to "polls.sections" 5 }} transition {{/link-to}}
{{#link-to "polls.sections" 6 }} transition {{/link-to}}

{{outlet}}
