<div class="projections-container">
	{{projections-toolbar state=state municipality=municipality section=section setState='setState' setMunicipality='setMunicipality'}}
	{{projections-sidebar}}
	{{d3-test state=state municipality=municipality section=section setState='setState' setMunicipality='setMunicipality' setSection='setSection'}}
	{{!-- {{datamaps-map}} --}}
</div>