<div class="projections-container">
	{{projections-toolbar state=state municipality=municipality setState='setState' setMunicipality='setMunicipality'}}
	{{projections-sidebar}}
	{{d3-test setState='setState' setMunicipality='setMunicipality'}}
	{{!-- {{datamaps-map}} --}}
</div>