.selectize-control .selectize-input
	padding: 3px 4px 0px !important

.selectize-input
	border: 1px solid #d0d0d0

.selectize-control .selectize-input
	div
		border-radius: 4px !important
		cursor: pointer !important
		margin: 0 3px 3px 0 !important
		background: #74d0d6 !important
		border: 1px solid #74d0d6 !important
		color: #ffffff !important
		padding: 2px 5px !important

.selectize-control.multi .selectize-input
	div
		border-radius: 4px !important
		cursor: pointer !important
		margin: 0 3px 3px 0 !important
		background: #ffd777 !important
		border: 1px solid transparent !important
		color: #424a5d !important
		padding-right: 16px !important
		a
			border-left: none !important
			top: 2px !important

.selectize-input
	input
		margin-bottom: 3px !important

.active
	background-color: #6fa6cc !important
	color: #ffffff !important