.projections-sidebar
  padding: 80px 15px 0px 15px
  z-index: 100
  width: 225px
  height: 100%
  position: fixed
  // box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
  border-right: 1px solid #d4d7dc
  background-color: $white

.projections-toolbar
  position: absolute
  width: 100%
  height: 60px
  z-index: 110
  background-color: #6fa6cc
  border-bottom: 1px solid #d4d7dc
  background-color: #fbfbfb

#charts-panel
  $padding: 15px
  width: 300px
  border-right: none
  border-left: 1px solid #d4d7dc
  right: -250px
  overflow-y: auto
  margin-top: 60px
  padding: $padding
  .toggle-button
    font-size: 20px
    cursor: pointer
    display: inline-block
  .settings-button
    @extend .toggle-button
    position: absolute
    right: $padding
  #settings-panel
    margin: 0 -10px;
    margin-top: 7px;
    padding: 10px 15px;
    background-color: white
    border-radius: 4px;
    border: 1px solid #E6EBEC;
    .min-max p
      display: inline-block
    .min
      margin-left: -5px
    .max
      float: right;
      margin-right: -12px;
  .chart-title
    text-align: center
    font-weight: 600

.projections-container
  position: relative

.map-breadcrumbs
  display: inline-block
  height: 100%
  padding: 20px 20px 20px 0px

.map-links
  padding: 0

.map-link
  padding: 0
  display: inline
  font-size: 14px
  color: $darkblue
  cursor: pointer

.map-link:first-child
  padding: 0 0 0 15px

.map-link:last-child
  font-weight: 600

.searchbar
  width: 93%
  border: none
  background-color: transparent

.single
  .selectize-input
    border: none !important
    -webkit-box-shadow: none !important
    box-shadow: none !important
    background: $aqua !important

.searchbar-container
  height: 100%
  padding: 20px !important
  width: 300px
  float: right
  display: inline-block
  text-align: right
  padding-top: 2px
  padding-bottom: 0px
  margin-left: 0px
  color: #9e9e9e
  input
    margin-left: 0px
    color: #8b8b8b
  input[type=search]
    border-bottom: 1px solid #c4c4c2
    font-size: 15px
    &:focus
      outline: none
  label
    top: auto
    color: #9e9e9e
