.projections-sidebar
  padding-top: 60px
  z-index: 100
  width: 225px
  height: 100%
  background-color: #aeb2b4
  position: fixed
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
  background-color: #fbfbfb

.projections-toolbar
  position: absolute
  width: 100%
  height: 60px
  z-index: 1000
  background-color: #6fa6cc
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26)
  background-color: #fbfbfb

.projections-container
  position: relative

.map-breadcrumbs
  display: inline-block

.searchbar
  width: 93%
  border: none
  background-color: transparent

.searchbar-container
  height: 100%
  padding: 20px !important
  width: 300px
  float: right
  display: inline-block
  text-align: right
  padding-top: 2px
  padding-bottom: 0px
  margin-left: 0px
  color: #9e9e9e
  input
    margin-left: 0px
    color: #8b8b8b
  input[type=search]
    padding: 5px 22px 5px 5px
    font-size: 11px
    &:focus
      outline: none
  label
    top: auto
    color: #9e9e9e