<div class='dashboard'>
    {{async-chart title="Prueba 1" subtitle="sub" query='gender' store=store type='bar' options=optionNoLegend}}
    {{async-chart title="Prueba 2" subtitle="sub" query='gender' store=store type='bar'}}
    {{async-chart title="Prueba 3" subtitle="sub" query='gender' store=store type='bar'}}
</div>