<div class="projections-toolbar">

	<div class="map-breadcrumbs">
	
		<ul class="map-links">
			<li class="map-link">
				México >
			</li>
			<li class="map-link">
				Nuevo Leon			
			</li>

			{{#if municipality}}
			{{municipality}}
			{{/if}}
		</ul>
	</div>

	<div class="searchbar-container">
		{{input type='search' class='searchbar' value=searchValue placeholder="Search"}}
		<i class="fa fa-search ticket-table-search-icon"></i>
	</div>
</div>

{{!-- <h2 {{action 'setState'}}>México > {{state}}</h2> --}}