<div class="projections-toolbar">

	<div class="map-breadcrumbs">
		<h2 {{action 'setState'}}>México > {{state}}</h2>
		{{#if municipality}}
		{{municipality}}
		{{/if}}
	</div>

	<div class="searchbar-container">
		{{input type='search' class='searchbar' value=searchValue placeholder="Search"}}
		<i class="fa fa-search ticket-table-search-icon"></i>
	</div>
</div>