<div id="map">
	<div id="tiles"></div>
</div>

{{#if isPopulation}}
	{{tooltip-population hoveredSection=hoveredSection}}
{{else}}
	{{tooltip-votes sectionsData=sectionsData hoveredSection=hoveredSection}}
{{/if}}
