{{yield}}
<div class="table-header">
	<div style="height: 40px;">
		<div class="form-select" style="width: 250px; margin-bottom: 0px; float: right; padding: 5px;">
			{{!-- {{#power-select
			search=(action "searchVoters")
			selected=selected
			placeholder="Busca por Nombre o Apellido"
			onchange=(action "seeVoter")
			as |voter|
		}}
		{{voter.first_name}} {{voter.first_last_name}}
		{{/power-select}} --}}
		</div>
	</div>
	

	{{yield 
		(hash
			voter-quickform=(component 'voter-row-form')
			filters=(component 'table-nav-filters')
			controls=(component 'table-nav-controls'))}}

</div>



